{{define "title"}} home {{end}} {{define "main"}}
<main>
    <div class="container">
        <section class="timerDialog">
            <div class="buttons">
                <button class="button" id="focusBtn">Focus</button>
                <button class="button" id="breakBtn">Break</button>
                <button class="button" id="restBtn">Rest</button>
            </div>
            <div>
                <span id="timer">00:00</span>
                <button id="refreashBtn"><img src="/static/imgs/icons/refreash.png" alt="Refreash" /></button>
            </div>
            <div>
                <button class="button" id="startBtn">Start</button>
            </div>
        </section>

        <section class="tasksDialog">
            <div><p>task dialog</p></div>
            <div class="tasksBox">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, autem corporis magnam ullam vitae porro, rerum voluptatem iusto atque dolore facere dolorum sapiente
                beatae ab. Dicta iusto nemo quo! Debitis!Loremlore Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita accusantium assumenda nisi nobis molestiae,
                architecto quae dolorem, ipsum soluta veritatis possimus sapiente vel sequi error facilis, velit dolores reiciendis amet!Lorem Lorem
            </div>
        </section>
    </div>
</main>
{{end}}
