* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f8f9fa;
    --primary-color: #007bff;
    --secondary-color: #232323;
    --logo-color: #121212;
    --menu-font-size: 2rem;
    --logo-font-size: 3rem;
    --logo-letter-spacing: -2px;
}

@media (max-width: 768px) {
    :root {
        --logo-font-size: 2rem;
        --menu-font-size: 1.5rem;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

main {
    flex: 1;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px;
    background-color: transparent;
    height: 10vh;
    font-size: 1.5rem;
}

footer {
    height: 8vh;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

footer > span > span {
    transition: 0.1s ease;
}

footer > span:hover > span {
    color: red;
}
footer > a {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

@media (max-width: 1024px) {
    footer {
        font-size: 1.4rem;
    }
}

@media (max-width: 868px) {
    footer {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    footer {
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {
    footer {
        font-size: 0.9em;
    }
}
