* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
/*add color shcema*/
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: transparent;
    height: 10vh;
    font-size: 1.5rem;
}
   

main {
    flex: 1; 
    background-color: lightgreen;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

footer {
    height: 8vh;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.font-special {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}
